*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: space-between;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
.main {
  background-color: #1b1919;
}
ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  margin: auto;
  gap: 30px;
}
.result {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.result__video-container {
  align-self: center;
  position: relative;
  z-index: 0;
  width: 711px;
  height: 386px;
  margin-top: 70px;
}
.result__video {
  z-index: 0;
  max-width: 100%;
  height: 100%;
}
.search-form {
  position: relative;
  display: flex;
  align-self: flex-end;
  gap: 47px;
  justify-content: space-between;
}
.search-form__label {
  cursor: pointer;
  width: 212px;
}
.search-form__textfield {
  border: none;
  width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: start;
}
.search-form__checkbox-list {
  width: 212px;
  display: inline-flex;
  gap: 13px;
}
.search-form__fieldset {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border: none;
}
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.visually-hidden {
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-color: inherit;
  border: 1px solid #fff;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.more-button {
  width: 399px;
}
.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}
.content__details {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
  position: inherit;
  z-index: 0;
}
.content__list {
  position: relative;
  height: 298px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  overflow: auto;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 3px 1px;
}
.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  width: 200px;
}
.content__video-card {
  display: flex;
  padding: 2px;
}
.title {
  color: #fff;
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
input[name="time"]:checked + span {
  width: 17px;
  height: 17px;
  margin-right: 2px;
  border: 1px solid #111;
  outline: 1px solid #fff;
  background-color: #fff;
}
input[name="time"]:active + span {
  width: 19px;
  height: 19px;
  margin-right: 0px;
  background-color: inherit;
}
label:focus-visible {
  padding: 1px;
  outline: 1px solid #fff;
  margin: 0 1px;
}
label:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
button:active {
  background-color: #545050;
}
button:hover {
  cursor: pointer;
  text-decoration: underline;
}
button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}
.search-form__textfield:active {
  border-top: none;
  border-bottom: none;
  outline: 1px solid #fff;
}
.search-form__textfield:hover {
  cursor: default;
}
.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  padding-top: 0;
}
.content__video-card:active {
  background-color: #545050;
}
.content__video-card:hover {
  text-decoration: underline;
  cursor: pointer;
}
.content__video-card:focus-visible {
  border: 1px solid #fff;
  background-color: inherit;
}
